<div>Token: {{smartService.sb?.accessToken}}</div>
<div>PatientId: {{smartService.sb?.patientId}}</div>

<button mat-raised-button button (click)="getPatientName()">Get Patient Name</button>
<h3>Name: {{ptName}}</h3>

<div>
  <textarea>{{ptFhir | json}}</textarea>
</div>

<button mat-raised-button button (click)="getObservations('29463-7')">Get Observations</button>
<textarea *ngFor="let obs of observationList">{{obs | json}}</textarea>

<a mat-raised-button href="/launch">Return to launch page</a>
